<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">الرئيسية</a></li>
                <li>اتصل بنا</li>
            </ul>
            <h2>اتصل بنا</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>

<div class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="contact-info">
                    <span class="sub-title">بيانات المتصل</span>
                    <h2>ابقى على تواصل</h2>
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra.</p>-->
                    <ul>
                        <li>
                            <div class="icon">
                                <i class='bx bx-map'></i>
                            </div>
                            <h3>عنوان</h3>
                            <p>الباحة _دوار الشفاء _بجانب بن دماس</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class='bx bx-phone-call'></i>
                            </div>
                            <h3>اتصل بنا</h3>
                            <p>الجوال : <a href="tel:0559652296">2296-965-055</a></p>
                            <p>البريد : <a href="mailto:future2030v@gmail.com">future2030v@gmail.com</a></p>
                        </li>
                      <li>
                        <div class="icon">
                          <i class='bx bx-time-five'></i>
                        </div>
                        <h3>ساعات العمل</h3>
                        <p>الاثنين - الجمعة: 09:00 - 20:00</p>
                        <p>الأحد والسبت: 10:30 - 22:00</p>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contact-form" style="background-image: url({{bgImage}});">
                    <h2>على استعداد للبدء؟</h2>
                    <p>لن يتم نشر عنوان بريدك الإلكتروني. الحقول المطلوبة محددة *</p>
                    <form #contactForm="ngForm" (ngSubmit)="submit(contactForm.value)">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <input required minlength="3" maxlength="50" ngModel name="name" type="text" #name="ngModel" class="form-control" id="name" placeholder="اسمك">
                                    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
                                        <div *ngIf="name.errors.required">مطلوب اسم.</div>
<!--                                        <div *ngIf="name.errors.minlength">Name is minimum {{ name.errors.minlength.requiredLength }} اختلاف الشخصيات.</div>-->
<!--                                        <div *ngIf="name.errors.maxlength">Name is maximum 50 character.</div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <input required ngModel name="email" type="text" #email="ngModel" class="form-control" id="email" placeholder="عنوان بريدك الإلكتروني">
                                    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">عنوان البريد الإلكتروني مطلوب.</div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input required ngModel name="number" type="text" #number="ngModel" class="form-control" id="number" placeholder="رقم تليفونك">
                                    <div class="alert alert-danger" *ngIf="number.touched && !number.valid">رقم الهاتف مطلوب.</div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea required ngModel #message="ngModel" name="message" id="message" cols="30" rows="5" class="form-control" placeholder="اكتب رسالتك..."></textarea>
                                    <div class="alert alert-danger" *ngIf="message.touched && !name.valid">الرسالة مطلوبة.</div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                              <div class="d-flex align-items-center justify-content-start">
                                <button type="submit" [disabled]="loader" class="default-btn me-3" (click)="contactForm.form.reset()" [class.disabled]="!contactForm.valid">أرسل رسالة<span></span></button>
                                <div class="d-flex align-items-center justify-content-center" *ngIf="loader">
                                  <div class="sk-chase">
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                    <div class="sk-chase-dot"></div>
                                  </div>
                                </div>
                              </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="map">
  <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=500&amp;hl=en&amp;q=%D9%85%D8%AC%D9%85%D8%B9%20%D8%A8%D9%86%20%D8%AF%D9%85%D8%A7%D8%B3%20%D8%A7%D9%84%D8%B7%D8%A8%D9%8A%D8%8C%20King%20Faisal%20Road,%20%D8%A7%D9%84%D8%A8%D8%A7%D8%AD%D8%A9%20Saudi%20Arabia+(%D8%A7%D9%84%D8%A8%D8%A7%D8%AD%D8%A9%20_%D8%AF%D9%88%D8%A7%D8%B1%20%D8%A7%D9%84%D8%B4%D9%81%D8%A7%D8%A1%20_%D8%A8%D8%AC%D8%A7%D9%86%D8%A8%20%D8%A8%D9%86%20%D8%AF%D9%85%D8%A7%D8%B3%20)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
</div>
