<div class="main-banner" style="background-image: url({{bgImage}});">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="main-banner-content">
          <h1>معهد  رؤية المستقبل يرحب بالطلاب الجدد</h1>
          <p>
            يقدم معهد رؤية المستقبل دورات متميزة  للمبدئين ومن يرغب فى زيادة  كفاءة وتحسين مستوى قدراته المهنية  ومن يرغب فى زيادة  المعرفه  بمجالات اخرى غير تخصصه  وهنقدر نوصلك لمستوى المحترفين فى وقت قياسى .</p>
          <!--<a routerLink="/profile-authentication" class="default-btn"><i class="flaticon-user"></i>Join For
            Free<span></span></a>-->
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class=" main-banner-courses-list">
          <div class="row">
            <div class="col-lg-6 col-md-6" *ngFor="let filed of allCourses">
              <div class="single-courses-box">
                <div class="courses-image">
                  <!--            <a routerLink="/details-courses" class="d-block image">-->
                  <a href="javascript:void(0)" (click)="goTo(filed.id)" class="d-block image">
                    <img [src]="urlImage + filed.image" [alt]="filed.title">
                  </a>
                  <!--                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>-->
                  <div class="price shadow">
                    <div>{{filed.price}}</div>
                    ر.س
                  </div>
                </div>
                <div class="courses-content pt-5">
                  <!--<div class="course-author d-flex align-items-center">
                      <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                      <span>{{filed.teachersId}}</span>
                  </div>-->
                  <h3><a routerLink="/details-courses">{{filed.title}}</a></h3>
                  <p>{{filed.body}}</p>
                  <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                    <!--                            <li><i class='flaticon-agenda'></i> 15 Lessons</li>-->
                    <!--<li *ngIf="filed.numberOfStudents"><i class='flaticon-people'></i> عدد الطلاب : {{filed.numberOfStudents}}
                    </li>-->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-shape1"><img src="assets/img/banner-shape1.png" alt="image"></div>
          <div class="banner-shape2"><img src="assets/img/banner-shape2.png" alt="image"></div>
          <div class="banner-shape3"><img src="assets/img/banner-shape3.png" alt="image"></div>
        </div>
      </div>
    </div>
  </div>
</div>
